@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.8em;
    text-transform: uppercase;
    color: #3a6cfa;
}

.navigation a{
    color: #3a6cfa;
    font-weight: 500;
    font-size: 1.2em;
    text-decoration: none;
    padding-left: 30px;
}

.navigation a:hover{
    color: #6c30fa;
}

.navigation .per:hover ::before,
.navigation .serv:hover ::before,
.navigation .pro:hover ::before,
.navigation .cont:hover ::before{
    letter-spacing: 3px;
    font-size: 16px;
    transition: 0.5s ease-in-out;
}

.navigation .per:hover ::before{
    content: 'About-Me';
}

.navigation .serv:hover ::before{
    content: 'Services';
}

.navigation .pro:hover ::before{
    content: 'Projects';
}

.navigation .cont:hover ::before{
    content: 'Contact';
}

/* Start msin page */

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(image/1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #4f0;
    font-weight: 600;
    font-size: 3em;
}

.main h3{
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.main .main-btn{
    color: #fff;
    background-color: #3a6cfa;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main .main-btn:hover{
    background-color: #0a49f6;
    transform: scale(1.1);
}

/* End msin page */

/* Start Personal page */
.personal{
    padding-bottom: 0;
}

.my-info{
    width: 50%;
    font-size: 1.3em;
    font-weight: 400;
}

.my-info p:first-child{
    margin: 0;
}

.my-info p,
.my-info ol{
    margin-top: 10px;
}

.my-info ol span,
.my-info ol li{
    margin-top: 5px;
}

.my-info span{
    color: red;
    font-weight: 800;
}

/* End Personal page */

/* Start cards page */

.cards .card{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.cards .card:hover{
    transform: scale(1.1);
}

.cards .icon{
    text-align: center;
    color: #3a6cf4;
    font-size: 8em;
}

.cards .card .info{
    text-align: center;
}

.cards .card .info h3{
    margin: 10px;
    font-weight: 700;
    font-size: 1.2em;
    color: #3a6cf4;
}

/* End cards page */

/* Start project page */
.projects{
    background-color: #212121;
}

.projects .content{
    margin-top: 30px;
}

.projects .project-card{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 21em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.projects .project-card:hover{
    transform: scale(1.1);
}

.projects .project-card:hover .project-img{
    opacity: 0.7;
}

.projects .project-card img{
    width: 100%;
}

.projects .project-info{
    padding: 1em;
}

.projects .project-info .project-category{
    font-size: 0.8em;
}

.projects .project-info .project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.projects .project-title .more-details{
    text-decoration: none;
    color: #3a6cf4;
}

.projects .project-title .more-details:hover{
    color: #601cfc;
}
/* End project page */

/* Start Contact page */
.contact .icon{
    font-size: 4.5em;
}

.contact .info h3{
    color: #000;
}

.contact .info p{
    font-size: 1em;
}
/* End Contact page */

/* Start footer page */
.footer{
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer .footer-title{
    font-size: 1.3em;
    font-weight: 600;
}

.footer span{
    color: #3a6cf4;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0 ;
}
/* End footer page */

/* Start common design */
section{
    padding: 100px 200px;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    color: #3a6cfa;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.social-icons a{
    color: #fff;
    font-size: 1.6em;
    padding-right: 30px;
    transition: 0.7s ease-in-out;
}
.social-icons a:hover .link,
.social-icons a:hover .get,
.social-icons a:hover .face{
    background-color: #fff;
    transform: scale(1.2);
    padding: 5px;
    border-radius: 15px;
}
.social-icons a:hover .link{
    color: #3b5998;
}

.social-icons a:hover .get{
    color: #000000;
}
.social-icons a:hover .face{
    color: #3b5998;
}

/* End common design */

/* Start media design */
@media (max-width:1023px) {
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 2em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px) {
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }

    .personal .my-info{
        width: 58%;
        margin-bottom: 15px;
        font-size: 1.2em;
    }

    .personal .my-img img{
        height: 22em;
    }

    .projects .project-card{
        width: 30em;
    }

    .projects .project-info .project-category{
        font-size: 1.2em;
    }

    .projects .project-info .project-title{
        font-size: 1.3em;
    }

    .cards .card{
        width: 30em;
    }

    .cards .card .info h3{
        font-size: 1.3em;
    }

    .contact .info p{
        font-size: 1.2em;
    }
}

@media (max-width:300px) {
    body{
        font-size: 10px;
    }

    .cards .card,.projects .project-card,.contact .card
    { width: 50%; }
}

/* End media design */